@import "./variables.scss";

.listing-card {
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;

  .bookingInfo{
    padding-left: 5px;
    margin-bottom: 1.1rem;
  }

  &:hover {
    @include shadow;
  }

  .slider-container {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;

    .slider {
      display: flex;
      transition: transform 0.5s ease;
      margin-bottom: 0.8rem;
      position: relative;
      width: 100%;

      .slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        height: 270px;
        min-width: 0px;

        align-items: center;

        img {
          width: 100%;
          height: 100%;
          filter: brightness(85%);
        }
      }
    }

    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 6px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 9999;

      &:hover {
        background-color: white;
      }
    }

    .prev-button {
      left: 10px;
    }

    .next-button {
      right: 10px;
    }
  }

  h3 {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 15px;
    width: 300px;
  }

  p {
    font-size: 15px;
  }

  span {
    font-weight: 700;
    font-size: 18px;
  }

  .favorite {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999;
    background: none;
  }

  .cancel-btn{
    @include buttonStyle;
    font-size: 10px;
    padding: 7px 10px;
  }
}